.card-container {
  display: grid;
  grid-template-columns: 66px 1fr;
  border: 2px solid #a40000;
  padding: 16px;
  border-radius: 20px;
  margin: 8px auto;
  position: relative;
  min-height: 100px;
  height: auto;
}
.card-container .card-left img {
  height: 52px;
  width: 52px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
  object-fit: cover;
}




.card-container .card-right .card-header {
  display: flex;
  justify-content: space-between;
  margin: 2px 0 4px;
  min-height: 35px;
}
.card-container .card-right .card-header span {
  font-style: italic;
  font-size: 10px;
}
.card-container .card-right .card-header .pseudo {
  display: flex;
}
.card-container .card-right .card-header .pseudo span {
  transform: translate(0px, -5px);
}
.card-container .card-right .card-header .pseudo img {
  padding: 5px;
  cursor: pointer;
  transition: 0.15s;
  box-shadow: none;
  height: 28px;
  width: 28px;
}
.card-container .card-right .card-header .pseudo img:hover {
  transform: scale(1.2) translate(0px, 0px);
}

.card-container .card-right .card-main{
	display: flex;
  justify-content: space-between;
  margin: 2px 0 4px;
  min-height: 35px;
}
.card-container .card-right  p {
  margin: 3px 0 9px;
  font-size: 1.1rem;
}
.card-container .card-right .update-post textarea {
  font-size: 1.3rem;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px 20px 6px 20px;
}

.card-container .card-right .card-main .update-post .button-container .btn{
    background: black;
          width: 240px;
          transform: translateY(-3px);
}

.card-container .card-right .card-main .update-post .button-container .btn:hover{
    background: black;
            width: 250px;
            letter-spacing: 1px;
}
.card-container .card-right .card-main .card-pic{
    width: 25%;
	height: 25%;
    border-radius: 6px;
    margin-top: 12px;
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
}


 .card-container .card-right .button-container {
	 justify-content: flex-end;
	 display: flex;
}
 .card-container .card-right .button-container div {
	 padding: 5px 9px;
	 margin-left: 5px;
	 background: white;
	 border-radius: 50px;
	 transition: 0.1s;
	 cursor: pointer;
}
 .card-container .card-right .button-container div:hover {
	 transform: scale(1.07);
}
 .card-container .card-right .button-container div img {
	 height: 16px;
	 width: 16px;
	 transform: translateY(3px);
}




 .card-container .card-right .card-footer {
	 display: flex;
	 padding: 12px 0 4px;
}
 .card-container .card-right .card-footer img {
	 height: 22px;
	 width: 22px;
	 margin-right: 40px;
	 cursor: pointer;
	 transition: 0.2s;
}
 .card-container .card-right .card-footer img:hover {
	 transform: scale(1.2);
}
 .card-container .card-right .card-footer .comment-icon, .card-container .card-right .card-footer .like-container {
	 display: flex;
	 align-items: center;
}
 .card-container .card-right .card-footer .comment-icon span, .card-container .card-right .card-footer .like-container span {
	 font-size: 1.02rem;
	 position: absolute;
	 transform: translate(30px, 0px);
}
 .comment-container.client {
	background: white;
	border: 1px solid black;
	 border-radius: 20px 20px 20px 6px;
}
.comment-container {
	 display: grid;
	 grid-template-columns: 50px 1fr;
	 background: white;
	 border: 1px solid black;
	 padding: 15px;
	 margin: 5px 0;
	 border-radius: 20px;
}
.comment-container img {
	 height: 35px;
	 width: 35px;
	 border-radius: 50px;
	 box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
	 object-fit: cover;
}

.comment-container .comment-header {
	 display: flex;
	 justify-content: space-between;
}

.comment-container .comment-header .pseudo {
	 display: flex;
}
.comment-container .comment-header .pseudo h3 {
	 font-family:"Quicksand", sans-serif;
	 font-size: 18px;
}
.comment-container .comment-header .pseudo span {
	 transform: translate(6px, 4px);
	 cursor: pointer;
}
.comment-container .comment-header .pseudo span img {
	 box-shadow: none;
	 height: 15px;
	 width: 15px;
}
 .comment-container .comment-header span {
	 font-size: 10px;
	 font-style: italic;
	 font-family: "Quicksand", sans-serif;
}
.comment-container p {
	 margin-top: 8px;
}
.comment-container .edit-comment {
	 color: #ffd0c4;
}
.comment-container .edit-comment img {
	 float: right;
	 margin-left: 10px;
	 cursor: pointer;
	 transition: 0.15s;
	 box-shadow: none;
	 height: 20px;
	 width: 20px;
}
.comment-container .edit-comment img:hover {
	 transform: scale(1.1);
}
.comment-container .edit-comment .edit-comment-form {
}
.comment-container .edit-comment .edit-comment-form label {
	 background: #fdfdfd;
	 color: #a40000;
	 border-radius: 20px 20px 20px 6px;
	 cursor: pointer;
	 transition: 0.2s;
	 display: inline-block;
}
.comment-container .edit-comment .edit-comment-form label:hover {
	 transform: scale(1.05);
}
.comment-container .edit-comment .edit-comment-form input[type="text"] {
	 
	 margin: 4px 0;
	 background: #fdfdfd;
	 font-size: 1.15rem;
	 padding: 16px;
	 width: 100%;
	 border-radius: 20px;
	 border: solid 1px black;
}
.comment-container .edit-comment .edit-comment-form .btn {
	 display: flex;
	 align-items: center;
	 float: right;
}
.comment-container .edit-comment .edit-comment-form .btn span {
	 background: #fdfdfd;
	 padding: 10px 5px;
	 border-radius: 50px;
	 margin-right: 6px;
	 transition: 0.2s;
	 cursor: pointer;
}
.comment-container .edit-comment .edit-comment-form .btn span:hover {
	 background: #ffd0c4;
}
.comment-container .edit-comment .edit-comment-form .btn span img {
	 transform: translate(-5px, 0);
}
.comment-container .edit-comment .edit-comment-form .btn input[type="submit"] {
	 width: 200px;
	 background: #a40000;
	 color: white;
	 border-radius: 20px;
	 transition: 0.2s;
	 float: right;
}
.comment-container .edit-comment .edit-comment-form .btn input[type="submit"]:hover {
	 background: #a40000;
	 transform: translateX(2px);
}
.comment-form {
	 margin-top: 6px;
}
.comment-form input[type="text"] {
	 width: 100%;
	 background: none;
	 border: solid 1px black;
	 border-radius: 6px 20px 20px 20px;
	 padding: 10px;
	 font-size: 1.4rem;
}
.comment-form input[type="text"]:focus {
	 box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
}
.comment-form input[type="submit"] {
	 
	 width: 120px;
	 background: #a40000;
	 color: white;
	 border-radius: 20px;
	 transition: 0.2s;
	 float: right;
}
.comment-form input[type="submit"]:hover {
	 background: #a40000;
	 transform: translateX(2px);
}
.comment-form button {
	 float: right;
	 background:#a40000;
	 transition: 0.2s;
}
.comment-form button:hover {
	 background: #ffd0c4;
}
 .card-container .card-right .like-container span {
	 font-size: 1.02rem;
	 position: absolute;
	 transform: translate(8px, -1px);
}
 .card-container .card-right .fa-share-alt {
	 transform: translate(0, 2px);
}
 .card-container .update-post textarea {
	 width: 100% !important;
	 height: 80px;
}
 .card-container .update-post .button-container {
	 text-align: right;
}
 .card-container .update-post .button-container button { 
	background: #a40000;
	border: solid 1px #a40000;
	border-radius: 20px 6px 20px 20px;
	color: white;
	 margin: 0;
	 margin-left: 5px;
	 width: 160px;
	 transition: 0.2s;
}
 .card-container .update-post .button-container button:hover {
	transform: translateX(2px);
	 
}
 