.books-thread-container{
    display: grid;
  width: 100%;
  grid-template-columns: 100px 1fr 100px;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.books-thread-header{
  display: flex;
  justify-content: center;
}
.books-thread-main{
    background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  padding: 10px;
}
.card-book-container{
  display: flex;
  flex-direction: column;
  
  border: 2px solid #a40000;
  padding: 16px;
  border-radius: 20px;
  margin: 8px auto;
  position: relative;
  height: auto;
}
.card-book-main{
  display: grid;
  grid-template-columns: 200px 1fr;
}

.card-book-main .card-left .card-book{
  width: 100%;
	height: 100%;
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
}
.card-book-main .card-right{
  padding:10px;
}
.card-book-main .card-right .book-author{
  cursor: pointer;
}
.card-book-main .card-right .book-author:hover{
  color: #a40000;
}
.card-book-main .card-right .book-abstract{
  text-align: justify;
}
.card-book-footer {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.card-book-footer .select-book{
  margin-left: 30px;
  margin-right: 50px;
  
}
.card-book-footer .select-book select{
  border-radius: 50px;
  background: white;
  border: solid 2px #a40000;
  color: #a40000;
  height: 30px;
}
.card-book-footer .comment-icon img{
  height: 22px;
	 width: 22px;
	 margin-right: 40px;
	 cursor: pointer;
	 transition: 0.2s;
}
.card-book-footer .comment-icon img:hover{
  transform: scale(1.2);
}
.card-book-footer .comment-icon span{
  font-size: 1.02rem;
	 position: absolute;
	 transform: translate(-32px, 0px);
}



.popup-card-book-container {
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  animation: popup 1s forwards;
}
@keyframes popup {
  to {
    backdrop-filter: blur(2px);
  }
}
.popup-card-book-container .modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-100%);
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
  overflow: auto;
  transform: scaleY(0);
  transform-origin: center;
  animation: modal 0.5s forwards;
}
.popup-card-book-container .modal h3 {
  min-width: 200px;
}
@keyframes modal {
  to {
    transform: scale(1) translate(-50%);
  }
}
.popup-card-book-container .modal .cross {
  position: absolute;
  top: 25px;
  right: 25px;
  transition: 0.1s;
  cursor: pointer;
}
.popup-card-book-container .modal .cross:hover {
  transform: scale(1.07);
}
.popup-card-book-container .modal ul {
  padding-right: 15px;
  min-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.popup-card-book-container .modal ul::-webkit-scrollbar {
  width: 2px;
}
.popup-card-book-container .modal ul::-webkit-scrollbar-track {
  background: #fdeeee;
}
.popup-card-book-container .modal ul::-webkit-scrollbar-thumb {
  background: #a40000;
}
.popup-card-book-container .modal ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.popup-card-book-container .modal ul li {
  display: grid;
  grid-template-columns: 64px 1fr;
  margin: 10px 0;
}
.popup-card-book-container .modal ul li .author-pic{
  padding-top: 0px;
}
.popup-card-book-container .modal ul li .author-bio{
  text-align: justify;
  border-right: 10px;
}
.popup-card-book-container .modal ul li img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
}
.popup-card-book-container .modal ul li h4 {
  text-align: left;
  min-width: 210px;
}

