.profil-page {
  max-width: 1200px;
}
.profil-container {
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  position: relative;
}

.profil-container .update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  min-height: 70vh;
  width: 100%;
  border-radius: 2rem;
}
.profil-container .update-container h1 {
  margin: 20px;
}
.profil-container .update-container .updateParts-container {
  display: grid;
  grid-template-columns: 500px 500px;
}

.profil-container .left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.profil-container .update-container .updateParts-container .left-part img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
}
.profil-container .update-container .updateParts-container .left-part form {
  position: relative;
}

.profil-container
  .update-container
  .updateParts-container
  .left-part
  form
  label {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: inherit;
  position: absolute;
  transform: translate(0%, -70%);
  cursor: pointer;
  width: 200px;
  height: 35px;
  border-radius: 30px;
  border: 2px solid #a40000;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background: none;
  color: #a40000;
  padding: 5px;
}
.profil-container
  .update-container
  .updateParts-container
  .left-part
  form
  label:hover {
  background-color: #c80000;
  color: white;
}
.profil-container
  .update-container
  .updateParts-container
  .left-part
  form
  input[type="file"] {
  display: none;
}

.profil-container .right-part {
  text-align: center;
  padding: 20px 40px;
}
.profil-container .right-part h3 {
  margin-bottom: 12px;
}
.profil-container .right-part p,
.profil-container .right-part textarea {
  min-height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px 20px 6px 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
}
.profil-container .right-part textarea {
  width: 100%;
  margin-bottom: -6px;
  font-size: 1.1rem;
}
.profil-container .right-part button {
  margin: 5px 0;
  float: right;
}

.profil-container .follow-container {
  margin-top: 50px;
  align-items: center;
}
.profil-container .right-part h5 {
  background: transparent;
  color: #a40000;
  font-family: "Quicksand", sans-serif;
  margin: 5px 0;
  font-size: 1rem;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
  width: 200px;
  height: 30px;
  border: 2px solid #a40000;
}
.profil-container .right-part h5:hover {
  filter: brightness(110%);
  transform: translateX(2px);
}

.popup-profil-container {
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  animation: popup 1s forwards;
}
@keyframes popup {
  to {
    backdrop-filter: blur(2px);
  }
}
.popup-profil-container .modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-100%);
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
  overflow: auto;
  transform: scaleY(0);
  transform-origin: center;
  animation: modal 0.5s forwards;
}
.popup-profil-container .modal h3 {
  min-width: 200px;
}
@keyframes modal {
  to {
    transform: scale(1) translate(-50%);
  }
}
.popup-profil-container .modal .cross {
  position: absolute;
  top: 25px;
  right: 25px;
  transition: 0.1s;
  cursor: pointer;
}
.popup-profil-container .modal .cross:hover {
  transform: scale(1.07);
}
.popup-profil-container .modal ul {
  margin: 20px 0 0;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.popup-profil-container .modal ul::-webkit-scrollbar {
  width: 2px;
}
.popup-profil-container .modal ul::-webkit-scrollbar-track {
  background: #fdeeee;
}
.popup-profil-container .modal ul::-webkit-scrollbar-thumb {
  background: #a40000;
}
.popup-profil-container .modal ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.popup-profil-container .modal ul li {
  display: grid;
  grid-template-columns: 64px 1fr 114px;
  align-items: center;
  margin: 10px 0;
}
.popup-profil-container .modal ul li img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
}
.popup-profil-container .modal ul li h4 {
  text-align: left;
  min-width: 210px;
}
.popup-profil-container .modal ul li .follow-handler {
  text-align: left;
}
.popup-profil-container .modal ul li .follow-handler button {
  background: #a40000;
  border: solid 1px #a40000;
  color: white;
  width: 80px;
  border-radius: 20px;
  margin-right: 6px;
}
.popup-profil-container .modal ul li .follow-handler button:hover {
  color: white;
  transform: translateX(2px);
}
